body {
    font-family: Arial, sans-serif;
    background-color: hsla(0, 79%, 21%, 0.227);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgb(190, 141, 141);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.hidden {
    display: none;
}

button {
    background-color: slateblue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.answer-buttons {
    display: flex;
    flex-direction: column;
}

.answer-buttons button {
    margin: 5px 0;
}